@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif ;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background: #eff4fd;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 45px;
}
.logo{
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    /* color: #f9004d; */
        background: linear-gradient(#f06,#3cf);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;   
}
nav ul li{
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
}
nav ul li a:hover{
    /* color: #f9004d; */
    background: linear-gradient(#f06,#3cf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    transition: .4s;
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
}
.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}
.detel p{
    color: #555;
    line-height: 30px;
    font-size: 25px;
    width: 40%;
    /* margin-bottom: 10px; */
}
button{
    background-color: #3cf;
    color: #212121;
    padding: 10px 18px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    display: inline-block;
    margin: 30px 0;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    /* background-color: transparent;
    border: 2px solid #3cf;
    cursor: pointer; */
    transform: scale(1.2);
}
.icons a{
    text-decoration: none;
    color: #000;
}
.icons ion-icon{
    margin-left: 7%;
    color: #000;
    margin-right: -60px;
    font-size: 40px;
    transition: .4s ease;
}
.icons ion-icon.one:hover{
    color: blue;
}
.icons ion-icon.two:hover{
    color: rgb(255, 0, 170);
}
.icons ion-icon.three:hover{
    color: rgb(59,174,209);
}